body
{

color:white;
}

table , tr,th, td
{
border:1.5px solid;
}

th 
{
background-color:darkblue;
color:white;
}

td 
{
background-color:#f5f5;;
color:white;
}

h1
{
font-family:ALGERIAN;
text-align:center;
color:yellow;
}

p
{
color:white;
font-size:30px;
}

tr:hover {background-color:blue;}
th:hover {background-color:lightblue;}