form
{
height: 400px;
width: 1200px;
}

table , tr ,td
{
margin:auto;
background-color:yellow;
border:2px solid;
height: 20px;
width : 600px;
}

input
{
border: 1.5px solid;
padding: 2px;
}
